<mat-card>
  <mat-card-title>Lista de funcionarios</mat-card-title>
  <mat-card-content>
    <table td-data-table #dataTable>
      <thead>
        <tr td-data-table-column-row>
          <th td-data-table-column *ngFor="let column of configWidthColumns" [numeric]="column.numeric">
            {{column.label}}
          </th>
          <th td-data-table-column>Departamento</th>
          <th td-data-table-column>Ações</th>
        </tr>
      </thead>
      <tbody>
        <tr td-data-table-row *ngFor="let funcionario of funcionarios">
          <td td-data-table-cell *ngFor="let column of configWidthColumns" [numeric]="column.numeric">
            {{column.format ? column.format(funcionario[column.name]) : funcionario[column.name]}}
          </td>
          <td td-data-table-cell>{{funcionario.departamento.nome}}</td>
          <td td-data-table-cell>
            <a [routerLink]="[funcionario.id, 'editar']">Editar</a>
            <button mat-button (click)="excluir(funcionario)">Excluir</button>
          </td>
        </tr>
      </tbody>
    </table>

  </mat-card-content>
</mat-card>
<a mat-fab matTooltip="Novo funcionário" matTooltipPosition="before" color="accent" class="mat-fab-position-bottom-right z-3"
  routerLink="novo">
  <mat-icon>add</mat-icon>
</a>
